<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat </title>
</head>
<body>

<script type="text/javascript" th:inline="javascript">
    var sender = [[${sender}]];
    var receiver = [[${message.receiver}]]
</script>

<div th:each="msg : ${messages}">
    <ul>
        <li><p th:text="${msg.sender}"></li>
        <li><p th:text="${msg.content}"></li>
    </ul>
</div>

<ul id="messageArea">
</ul>

<div id="chat-page" class="hidden">
    <form id="messageForm" name="messageForm">
        <input type="text" id="message" placeholder="Type a message..."/>
        <button type="submit">Send</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/chat.js}"></script>
</body>
</html>