<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>

Friends
<div>
    <table>
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        </thead>
        <div th:each="friend : ${friends}">
            <tr>
                <td> <p th:text="${friend.id}"> </td>
                <td> <p th:text="${friend.username}"> </td>
                <td> <p th:text="${friend.email}"> </td>
            </tr>
        </div>
    </table>
</div>

</body>
</html>