<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script type="application/javascript" src="https://unpkg.com/react@16.0.0/umd/react.production.min.js"></script>
    <script type="application/javascript"
            src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js"></script>
    <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
</head>
<body>

<div id="root"></div>

<!--<script type="text/babel" th:src="@{/js/test.js}"></script>-->

Main VMD page

<div sec:authorize="isAuthenticated()">
    <!--    Authenticated username:-->
    <!--    <div sec:authentication="name"></div>-->
    <!--    Authenticated user roles:-->
    <!--    <div sec:authentication="principal.authorities"></div>-->

    Authorized users only
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
</div>

<div sec:authorize="hasRole('ADMIN')">
    This content is only shown to administrators. 2
</div>
<div sec:authorize="hasRole('USER')">
    This content is only shown to users. 2
</div>


<br>
All users list:
<div>
    <table>
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        </thead>
        <div th:each="user : ${users}">
            <tr>
                <td> <p th:text="${user.id}"> </td>
                <td> <a th:href = "|/user/${user.username}|"> <p th:text="${user.username}"></p></a></td>
                <td> <p th:text="${user.email}"> </td>
                <td> <a th:href="|/chat/${user.token}|"> Написать </a> </td>
                <td> <a th:href="|/friends/${user.token}|"> Добавить в друзья </a> </td>
            </tr>
        </div>
    </table>
</div>


<div sec:authorize="isAnonymous()">
    <br>
    <a href="/login">Войти</a>
    <br>
    <a href="/registration">Регистрация</a>
</div>

<div sec:authorize="hasRole('ADMIN')">
    <a href="/admin">Администрирование</a>
</div>

<div sec:authorize="isAuthenticated()">
    <br>
    <a href="/friends">Друзья</a>
    <br>
    <a href="/settings">Настройки</a>
    <br>
    <form method="POST" modelAttribute="userForm" action="/exit">
        <button type="submit">Выйти</button>
    </form>
</div>

</body>
</html>