<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Settings</title>
</head>
<body>
<form th:object="${userInfo}" th:method="POST">
        <b>Your ID:</b><input type="number" readonly th:field="${userInfo.userId}" th:value="${userInfo.userId}" /><br>
        <b>Your username:</b><input type="text" readonly th:field="${userInfo.username}" th:value="${userInfo.username}" /><br>
        <b>Your name:</b><input type="text" th:field="${userInfo.name}" th:value="${userInfo.name}" /><br>
        <b>Your birth town:</b><input type="text" th:field="${userInfo.birthTown}" th:value="${userInfo.birthTown}" /><br>
<!--        <input type="date" th:field="*{birth}" th:value="*{birth}" />-->

        <input type="submit" value="Edit" />
</form>
</body>
</html>