<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Settings</title>
</head>
<body>
<form th:object="${currUser}" th:method="POST">
        <b>Your ID:</b><input type="number" readonly th:field="${currUser.id}" th:value="${currUser.id}" /><br>
        <b>Your username:</b><input type="text" readonly th:field="${currUser.username}" th:value="${currUser.username}" /><br>
        <b>Your name:</b><input type="text" th:field="${currUser.name}" th:value="${currUser.name}" /><br>
        <b>Your birth town:</b><input type="text" th:field="${currUser.birthTown}" th:value="${currUser.birthTown}" /><br>
        <b>Your birth date:</b><input type="date" th:field="${currUser.textBirthDate}" th:value="${currUser.textBirthDate}" /><br>


        <input type="submit" value="Edit" />
</form>
</body>
</html>