<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${currUser.name}"></title>
</head>
<body>
    <h2 th:text="${currUser.name}"></h2>
    <b>Username: </b> <i th:text="${currUser.username}"></i></br>
    <b>User id: </b> <i th:text="${currUser.id}"></i></br>
    <b>Birth date: </b> <i th:text="${currUser.birthDate}"></i></br>
    <b>Birth town: </b> <i th:text="${currUser.birthTown}"></i></br>

    <h2>Write something on my page!</h2>
    <form th:object="${post}" th:method="POST">
        <input type="text" th:field="${post.content}"/><br>
        <input type="submit" value="Send a post" />
    </form>

    <h2>Posts: </h2>
    <div th:each="post : ${posts}">
        <a th:href = "|/user/${post.sender}|"><h3 th:text="${post.sender}"></h3></a>
        <b>Sent at: </b> <i th:text="${post.sentTime}"></i></br>
        <b>Message: </b> <i th:text="${post.content}"></i></br>
    </div>
</body>
</html>